# MongoDB
MONGO_URI=mongodb+srv://tejas:<742808>@cluster0.mongodb.net/pizza

# JWT
JWT_SECRET=your_jwt_secret_key
JWT_REFRESH_SECRET=your_jwt_refresh_secret_key

# Razorpay
RAZORPAY_KEY_ID=your_razorpay_key_id
RAZORPAY_KEY_SECRET=your_razorpay_key_secret

# Email (SMTP)
SMTP_HOST=your_smtp_host
SMTP_PORT=your_smtp_port
SMTP_USER=your_smtp_user
SMTP_PASS=your_smtp_password

# Admin Email
ADMIN_EMAIL=admin@example.com

# Frontend URL
FRONTEND_URL=http://localhost:5173

# Server Port
PORT=5000